
/*  Custom font and base styling */

body{
    font-family: Inter, sans-serif;
    background-color: #f7f9fc;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* style for the textares to ensure proper sizing */

#text-input {
    resize: vertical;
}
